<h1><%= @vinyl.album %></h1>
<!-- <p id="notice"><%= notice %></p> -->
<div class="wrapper">
  <img src="<%= @vinyl.picture %>" class="cover">

  <div class="info">
    <p><strong>Album name:</strong> <%= @vinyl.album %></p>
    <p><strong>Artist:</strong> <%= @vinyl.artist %></p>
    <p><strong>Year:</strong> <%= @vinyl.year %></p>
    <p><strong>Genre:</strong> <%= @vinyl.genre %></p>
    <p><strong>Description:</strong> <%= @vinyl.description %></p>
  </div>





  <div class="row">
    <% if @vinyl.user != current_user %>
      <% if @vinyl.available  %>
        <%= link_to new_vinyl_rental_path(@vinyl) do %>
          <button class="btn btn-primary">Borrow</button>
        <% end %>
      <% else  %>
        <p>Not available for now</p>
      <% end %>
    <% end %>
    <% if @vinyl.user == current_user %>
      <%= link_to edit_vinyl_path do %>
        <button class="btn btn-default">Edit</button>
      <% end %>
     <% end %>

    <%= link_to request.referrer do %>
      <button class="btn btn-info">Back</button>
    <% end %>
  </div>
</div>
