<h1><%= @vinyl.album %></h1>
<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="vinyl-cover">
        <%= image_tag("heat1982.png", size: "345x300") %>
        <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.com/photos/UMfXD8XZ_KA');">
        </div> -->
      </div>
    </div>
  <div class="col-xs-12 col-sm-6">
    <div class="vinyl-info">
      <p><%= @vinyl.album %></p>
      <p><%= @vinyl.artist %></p>p
      <p><%= @vinyl.year %></p>
      <p><%= @vinyl.genre %></p>
      <p><%= @vinyl.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <p><%= link_to 'Add a Vinyl', new_vinyl_path %></p>
    <p><%= link_to 'Back', root_path %></p>
    <p><%= link_to 'Borrow', new_vinyl_rental_path(@vinyl) %></p>
  </div>
</div>
