<div class="banner">
  <div class="banner-content">
    <p>“I’m a big collector of vinyl. As I’m writing a movie, I go through all those songs, trying to find good songs for fights, or good pieces of music to layer into the film.”<br> ― Quentin Tarantino</p>
  </div>
</div>

<h3>Our available vinyls to borrow:</h3>

<div class="wrapper">
  <div>
    <%= image_tag "vinyl1.jpg", class: "covers" %>
    <h5>Chet Baker in Milan</h5>
  </div>

  <div>
    <%= image_tag "vinyl2.jpg", class: "covers" %>
    <h5>Matador Grant Green</h5>
  </div>

  <div>
    <%= image_tag "vinyl3.jpg", class: "covers" %>
    <h5>Nirvana - Bleach</h5>
  </div>

  <div>
    <%= image_tag "vinyl4.png", class: "covers" %>
    <h5>Rod Stewart - Tonight I'm Yours</h5>
  </div>

  <div>
    <%= image_tag "vinyl5.jpg", class: "covers" %>
    <h5>Pink Floyd - The Wall</h5>
  </div>

  <div>
    <%= image_tag "vinyl6.jpg", class: "covers" %>
    <h5>Pink Floyd - The Dark Side of The Moon</h5>
  </div>

  <div>
    <%= image_tag "vinyl7.png", class: "covers" %>
    <h5>Grease Movie Soundtrack</h5>
  </div>

  <div>
    <%= image_tag "vinyl8.png", class: "covers" %>
    <h5>Heat</h5>
  </div>

  <div>
    <%= image_tag "vinyl9.png", class: "covers" %>
    <h5>Past, Present and The Futures</h5>
  </div>

  <div>
    <%= image_tag "vinyl10.png", class: "covers" %>
    <h5>Prince - Purple Rain</h5>
  </div>

  <div>
    <%= image_tag "vinyl11.jpg", class: "covers" %>
    <h5>Nirvana - Smells Like... Cover Versions!</h5>
  </div>

  <div>
    <%= image_tag "vinyl12.jpg", class: "covers" %>
    <h5>The Beatles - Sgt. Peppers Lonely Hearts Club Band</h5>
  </div>
</div>

<%= render "vinyls/index" %>
